section {
    width: 80%;
    margin: 50px auto;
    display:flex;
    justify-content:center;
}

.drink {
   background: url("/images/Wine-glass.jpg");
    width: 100px;
    height: 100px;
    background-size: cover;
}

h2 {
    /*font-size: 25px;*/
    font-weight: bold;
    color: brown;
    text-align: center;
}